h1{
    color:lightcoral;
}
h2{
    color:crimson;
}
p{
    color:deeppink;
}
h3{
    color:darkslateblue
}
h4{
    color:lawngreen;
}
#encabezado-seis{
    color:orange;
}
.text-danger{
    color:red;
}
.Text-color{color:lime
}
body{
    background-color:beige;
}